.demo-nav {
	width: 100%;
}

.demo-nav ul {
	font-size: 2.4em;
	display: flex;
	justify-content: space-between;
	padding: 0.3em 0.5em;
	border-bottom: 1px solid #eee;
}

.demo-nav li {
	cursor: pointer;
	color: grey;
}

.demo-nav li.active {
	color: blue;
}

/* -------------------------------------
		DEMO ONE
------------------------------------- */

#demo-one .panels {
	height: 200px;
	overflow-x: hidden;
}

#demo-one .panel {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	overflow: hidden;
	/*height: 0;*/
	/*background: white;*/
}
.panel:nth-child(1) {
	background-color: blue;
	background-image: url('img1.jpg');
	background-size: cover;
}
.panel:nth-child(2) {
	background-color: purple;
	background-image: url('img2.jpg');
	background-size: cover;
}
.panel:nth-child(3) {
	background-color: orange;
	background-image: url('img3.jpg');
	background-size: cover;
}
.panel:nth-child(4) {
	background-color: red;
	background-image: url('img4.jpg');
	background-size: cover;
}
.panel:nth-child(5) {
	background-color: green;
	background-image: url('img5.jpg');
	background-size: cover;
}


/*
.panel.active {
	opacity:1;
	height: auto;
}

.panel.animating {
	height: auto;
	transition: transform 0.4s ease-in-out,
				opacity 0.2s ease-in-out;
}

.panel.animating.active {
	transform:	translateX(0);
	transition: transform 0.4s ease-in-out,
				opacity 0.2s ease-in-out 0.2s;
}

.panel.animating.before {
	transform: translateX(-100%);
}

.panel.animating.after  {
	transform: translateX(100%);
}
