.navigator {
	margin-bottom: 2em;
}

.panels {
	max-height: 360px;
}

.panel { background-size: cover; }
.panel:nth-child(1) { background-image: url('img1.jpg'); }
.panel:nth-child(2) { background-image: url('img2.jpg'); }
.panel:nth-child(3) { background-image: url('img3.jpg'); }
.panel:nth-child(4) { background-image: url('img4.jpg'); }

.navigator h3 {
	color: #fff;
	text-align: center;
	margin: 15%;
}
