* {
	box-sizing: border-box;
	position: relative;
	padding: 0;
	margin: 0;
}

.demo-nav {
	width: 100%;
}

.demo-nav ul {
	font-size: 2.4em;
	display: flex;
	justify-content: space-between;
	padding: 0.3em 0.5em;
	border-bottom: 1px solid #eee;
}

.demo-nav li {
	cursor: pointer;
	color: grey;
}

.demo-nav li.active {
	color: blue;
}

.panels {
	height: 200px;
	overflow-x: hidden;
}

.panel {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	overflow: hidden;
	height: 0;
	opacity: 0;
	/*background: white;*/
}
.panel:nth-child(1) { background: blue; }
.panel:nth-child(2) { background: purple; }
.panel:nth-child(3) { background: orange; }
.panel:nth-child(4) { background: red; }
.panel:nth-child(5) { background: green; }

.panel.active {
	opacity:1;
	height: auto;
	/*position: relative !important;*/
}

/* out */
.panel.animating {
	height: auto;
	transition: transform 0.4s ease-in-out,
				opacity 0.2s ease-in-out;
}
/* in */

.panel.animating.active {
	transform:	translateX(0);
	transition: transform 0.4s ease-in-out,
				opacity 0.2s ease-in-out 0.2s;
}

.panel.animating.before {
	transform: translateX(-100%);
}

.panel.animating.after  {
	transform: translateX(100%);
}
