.carousel .panels {
	position:relative;
	overflow:hidden;
	list-style:none;
}

.carousel .panel {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	margin:0;


	overflow: hidden;
	/*// to prevent extra scroll bars if step is not visible*/
	height: 0;
	/* height:100%; */
	/*opacity: 0;*/
	/*z-index: -1;		// so as to be non-clickable when non-active*/


	backface-visibility: hidden;
}

.carousel .panel.animating {
	/*opacity: 1 !important;*/
	height: auto !important;

	/* out */
	transition: transform 0.4s ease-in-out,
				opacity 0.2s ease-in-out;
}

.carousel .panel.active {
	/*opacity: 1 !important;*/
	/*transform:	translateX(0);*/
	height: auto !important;
	position: relative;

	/* in */
	transition: transform 0.4s ease-in-out,
				opacity 0.2s ease-in-out 0.2s;

}


/* -------------------------------------
		SLIDE TRANSITIONS
------------------------------------- */

.fx-slide .panel,
.fx-slide .panel.before {
	-webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
}
.fx-slide .panel.after {
	-webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
}
.fx-slide .panel.active {
 	-webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
}


/* -------------------------------------
		FADE TRANSITIONS
------------------------------------- */

.fx-fade .active.panel {
	opacity:1
}
.fx-fade .panel {
	opacity:0;
}
