.navigator .panels {
	position:relative;
	overflow:hidden;
	list-style:none;
}

.navigator .panel {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	margin:0;
	overflow: hidden;
	height: 0;
	backface-visibility: hidden;
}

.navigator .panel.animating {
	height: auto !important;

	/* out */
	transition: transform 0.4s ease-in-out,
				opacity 0.2s ease-in-out;
}

.navigator .panel.active {
	height: auto !important;
	position: relative;

	/* in */
	transition: transform 0.4s ease-in-out,
				opacity 0.2s ease-in-out 0.2s;

}


/* -------------------------------------
		SLIDE TRANSITIONS
------------------------------------- */

.fx-slide .panel,
.fx-slide .panel.before {
	-webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
}
.fx-slide .panel.after {
	-webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
}
.fx-slide .panel.active {
 	-webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
}


/* -------------------------------------
		FADE TRANSITIONS
------------------------------------- */

.fx-fade .active.panel {
	opacity:1
}
.fx-fade .panel {
	opacity:0;
}
