.panels {
	position: relative;
	overflow: hidden;
	list-style: none;
}

.panel {
	height: 0;
	margin: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.panel.animating {
	height: auto !important;
  /*position: relative;*/

	/* out */
	transition:
			transform 0.4s ease-in-out,
			opacity 0.2s ease-in-out;
}

.panel.active {
	height: auto !important;
	position: relative;

	/* in */
	transition-delay: 0, 0.2s;

}


/* -------------------------------------
		SLIDE TRANSITIONS
------------------------------------- */

.fx-slide .panel,
.fx-slide .panel.before {
	transform: translateX(-100%);
}
.fx-slide .panel.after {
	transform: translateX(100%);
}
.fx-slide .panel.active {
	transform: translateX(0);
}


/* -------------------------------------
		FADE TRANSITIONS
------------------------------------- */

.fx-fade .active.panel {
	opacity: 1
}
.fx-fade .panel {
	opacity: 0;
}
